body {
 text-align: left;
}

#generate, #reset{
  margin: 2px;
}

.container {
  width: 80%;
}

section {
  margin-bottom: 5em;
}

#copyIcon {
  /* Style the form icons */
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
  
}

#passwordValue {
  font-style: italic;
  color: dimgray;
  display: inline;
  width: 80%;

}

.footer {
  text-align: center;
  padding-top: 5px;
  background-color: rgb(70, 69, 69);
  color: whitesmoke;
  width: 100%;
  position: fixed;
  border-top: 2px solid;
  left: 0;
  bottom: 0;
}

